html,
body {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #333;
    font-family: PingFang SC，MicrosoftYaHei, Helvetica;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
}

li {list-style-type:none;}
img {
    pointer-events: none;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}